<!-- <p>
  my-cart works!
</p> -->

<!-- <span *ngFor = "let data of cartProducts">
  <img src="../../assets/{{data.product_details.image}}">
  <p>{{data.product_details.product_id}}</p>  
  <p>{{data.product_details.prodname}}</p>
  <p>{{data.product_details.brandname}}</p>
  <p>{{data.product_details.price}}</p>
  <p>{{data.product_details.description}}</p>
  <button (click) = "deleteProductFromCart(data.product_details.product_id)">Remove from Cart</button><br><br>
  </span>
</div> -->
<!-- <br><br><br><br> -->
<div class="container-fluid">
    <br><br><br><br>
<div class="row">
    <div class="col-sm-6" *ngFor="let data of cartProducts">
      <div class="col-sm-6">
          <img src="../../assets/{{data.product_details.image}}" style="width: 100%">
      </div><br>
      <div class="col-sm-6">
         <h4><b>{{data.product_details.prodname}}</b></h4> 
                 <p>{{data.product_details.product_id}}</p>
                 <p>{{data.product_details.brandname}}</p>
                 <p>{{data.product_details.price}}</p>
                 <p>{{data.product_details.description}}</p>
                 <button (click) = "deleteProductFromCart(data.product_details.product_id)">Remove from Cart</button><br><br>
                 <!-- <button type="button" class="btn btn-primary">DELETE</button> -->
                 <button type="submit" (click)="buyNow()">BUY NOW</button>
      </div>
     </div>
    
  </div>

</div>