<!-- <div class="bodybg">
  <br><br><br>
  <div class="container m-auto d-block">
    <div class="col-12">
      <div class="row">

        <br/>
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-7">
          <div id="slider">
            <figure>
              <img src="assets/image39.jpg">
              <img src="assets/image19.jpg">
              <img src="assets/shopimg11.jpg">
              <img src="assets/image38.jpg">
              <img src="assets/img5.jpg">


            </figure>
          </div>
        </div>
        <br /><br /><br /><br /><br /><br><br><br><br><br />




        <div class="col-5">
          <br /><br /><br />
          <form #loginForm="ngForm">
            <div class="textstyle">
              <div class="form-group">
                <label>Email ID<span class="text-danger">*</span>:</label>
                <input type="text" name="emailid" class="form-control" [(ngModel)]="loginInterface.emailID" #emailid="ngModel"
                  required>
                <span class="mandatory">
                  <div *ngIf="emailid.errors?.required && emailid.touched">Email Id is required</div>
                </span>
              </div>
              <div class="form-group">
                <label>Password<span class="text-danger">*</span>:</label>
                <input type="password" name="Password" class="form-control" #Password="ngModel" [(ngModel)]="loginInterface.password"
                  required>
                <span class="mandatory">
                  <div *ngIf="Password.errors?.required && Password.touched">Password is required</div>
                </span>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary form-control" [disabled]="loginForm.invalid" (click)="onLogin()">LOGIN</button>
            </div>

            <div class="form-group">
              <a href="#" style="color:red;font-weight: 500;float: left;">Forgot Password?</a>
              <br>
              <div class="warning">{{errorMessage}}</div>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary form-control" (click)="onSignup(loginForm)">Register Here</button>

          </form>

        </div>
      </div>
    </div>
  </div>

<br>
<br>
<br /><br /><br /><br><br><br><br><br />
</div> -->



<html>

<body><br>
  <br><br><br><br>
  <div class="card">
    <div class="container">
      <div class="grid-container">
        <div class="grid-item1">
          <img src="../../assets/logo.png" class="imgclass">
          <p class="q">What we do ??</p>
          <h4>We make you <b>"BEAUTYFUL"</b></h4>
          <h4>We make you <b>"CONFIDENT"</b></h4>
          <h4>We make you <b>"UNIQUE"</b> </h4>
        </div>
        <div class="grid-item2">
          <form #loginForm="ngForm">
            <br><br><br>
            <div class="textstyle">
              <div class="form-group">
                <label>Email ID<span class="text-danger">*</span>:</label>
                <input type="text" name="emailid" class="form-control" [(ngModel)]="loginInterface.emailID" #emailid="ngModel"
                required pattern="[A-Za-z0-9._%+-]{1,40}[@]{1}[a-z]{1,15}[.]{1}[a-z]{2,3}">
                <span class="mandatory">
                  <div *ngIf="emailid.errors?.required && emailid.touched">Email Id is required</div>
                </span>
                <div [hidden]="!emailid.errors?.pattern" class="mandatory">
                    Invalid email id
                 </div> 
              </div>
              <div class="form-group">
                <label>Password<span class="text-danger">*</span>:</label>
                <input type="password" name="Password" class="form-control" #Password="ngModel" [(ngModel)]="loginInterface.password"
                  required>
                <span class="mandatory">
                  <div *ngIf="Password.errors?.required && Password.touched">Password is required</div>
                </span>
               
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary form-control" [disabled]="loginForm.invalid" (click)="onLogin()">LOGIN</button>
            </div>

            <div class="form-group">
             
            
              <div class="warning">{{errorMessage}}</div>
            </div>
            <br><br>
            <button type="button" class="btn btn-primary form-control" (click)="onSignup(loginForm)">REGISTER HERE</button>
 
          </form>

        </div>
      </div>
      <br>
    </div>
    <br><br><br>
  </div>
</body>

</html>